<!DOCTYPE html>
<html>
  <head>
    <title>RPiArduBot</title>
	<link rel="stylesheet" type="text/css" href="Other/style.css">
  </head>
  <body>
  <div>
   <div class="nav">
      <table style="border: none; top: 0px;" align="center">
	  <tr style="height: 100% !important;">
	  <td style="width: 25%;">RPiArduBot</td>
	  <td class="navitem" style="border: none; width: 12.5%;" onclick="location.href='#top'">Home</td>
	  <td class="navitem" style="border: none; width: 12.5%;" onclick="location.href='controls.html'">Controls</td>
	  <td class="navitem" style="border: none; width: 12.5%;" onclick="location.href='camera.html'">Camera</td>
      <td class="navitem" style="border: none; width: 12.5%;" onclick="location.href='about.html'">About</td>
	  </tr>
	  </table>
	  <a name="top"></a>
   </div>
    <div class="locnav"><a href="index.html">RPiArduBot Home</a></div>
    <div class="content">   
    <h2>Welcome to RPiArduBot.</h2>
	<p>Get started by clicking one of the links in the navigation bar</p>
	<p>RPiArduBot is an open source program that is used for controlling robots with a Raspberry Pi and an Arduino</p>
	<p>The source code can be found at <a href="http://github.com/zeyuzhao/RPiArduBot">http://github.com/zeyuzhao/RPiArduBot</a></p>
	<br />
	<br />
	<br />
	<br />
	<p>© Copyright 2015</p>
	</div>
   </div>
 </body>
</html>