<html>
    <head>  
        <style>
           #box {
                top: 0px;
                border: 5px solid cyan;
                border-radius: 5%;
            }
            h3 {
                margin: auto;
            } 
        </style>
    </head>
    
    <body onload="init();" >
        <canvas id="box" width="750" height="750"></canvas>

        <h3 id="statusdiv">Status</h3>


        <h3 id="debug"> hi</h3>


        <h3 id="debug2"> hi </h3>
    </body>


    <script src = "script-test.js"></script>
</html>