<!DOCTYPE html>
<html>
  <head>
    <title>About RPiBot</title>
	<link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  <div class="main">
   <!-- Need to fix: responsive colours updating slowly after :hover/:active is deactivated in ie/ms edge -->
   <div class="nav">
      <table style="border: none !important; top: 0px;">
	  <tr style="height: 100% !important;">
	  <td>RPiBot </td>
	  <td class="navitem" style="border: none; width: 140px !important;"><div><a href="#top">Top</a></div></td>
	  <td class="navitem" style="border: none; width: 140px !important;"><div><a href="..\JoystickUI\index.html">Joystick</a></div></td>
	  <td class="navitem" style="border: none; width: 170px !important;"><div><a href="..\ArrowPad\index.html">ArrowPad</a></div></td>
      <td class="navitem" style="border: none; width: 140px !important;"><div><a href="..\Other\about.html">About</a></div></td>
	  </tr>
	  </table>
	  <a name="top"></a>
   </div>
    <div class="content">   
    <p>The quick brown fox jumped over the lazy dogs</p>
	</div>
   </div>
 </body>
</html>