<!DOCTYPE html>
<html>
  <head>
    <title>Arrow Pad</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="..\Other\style.css">
  </head>
  <body onload="setTimeout('init();', 100);">
  <div class="main">
   <!-- Need to fix: responsive colours updating slowly after :hover/:active is deactivated in ie/ms edge -->
   <div class="nav">
      <table style="border: none !important; top: 0px;">
	  <tr style="height: 100% !important;">
	  <td>RPiBot-Arrow Pad </td>
	  <td class="navitem" style="border: none; width: 125px !important;"><div><a href="#top">Top</a></div></td>
      <td class="navitem" style="border: none; width: 125px !important;"><div><a href="#controls">Controls</a></div></td>
      <td class="navitem" style="border: none; width: 125px !important;"><div><a href="..\JoystickUI\pointer.html">Joystick</a></div></td>
      <td class="navitem" style="border: none; width: 125px !important;"><div><a href="..\Other\about.html">About</a></div></td>
	  </tr>
	  </table>
	  <a name="top"></a>
   </div>
    <div class="content">   
	<img id="mjpeg_dest" />
     <a name=".controls"></a>
	 <table style="width: 39%; padding: -20px;" align="center">
	 <tr height="100px">
	 <td style="width: 13%" />
	 <td style="width: 13%">
	 <div id="u" class="arrow"><p>Up</p></div>
	 </td>
	 <td style="width: 13%" />
	 </tr>
	 <tr height="100px">
	 <td style="width: 13%">
	 <div id="l" class="arrow"><p>Left</p></div>
	 </td>
	 <td style="width: 13%" />
	 <td style="width: 13%">
	 <div id="r" class="arrow"><p>Right</p></div>
	 </td>
	 </tr>
	 <tr height="100px">
	 <td style="width: 13%" />
	 <td style="width: 13%">
     <div id="d" class="arrow"><p>Down</p></div>
	 </td>
	 <td style="width: 13%" />
	 </tr>
	 </table>
	</div>
   </div>
 </body>
</html>