<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0;" /> 
    <title>Pointer Plotter with HandJS</title>
    <link rel="stylesheet" href="virtualjoystick.css" />
    <script src="Hand.js"></script>
    <script src="Collection.js"></script>
    <script src="Touches.js"></script>
  </head>
  <body>
      <div class="container">
          <canvas id="canvasSurface"></canvas>
      </div>
  </body>
</html>
